# Unignore everything
!**/*


# Ignore default text files
.htaccess

# Eclipse & Mac
.project
.buildpath
._*
.DS_Store
.settings/*

# Packages
node_modules
bower_components

# Build directories
temp
.sass-cache

# Grunt
.grunt
